@font-face {
    font-family: "arty";
    src: url('../fonts/Arctika\ Script.otf');
}
@font-face {
    font-family: "arty-1";
    src: url('../fonts/Inter_18pt-Medium.ttf');
}
@font-face {
    font-family: "arty-2";
    src: url('../fonts/circe-light.ttf');
}
@font-face {
    font-family: "arty-3";
    src: url('../fonts/Inter_18pt-Light.ttf');
}
*{
    padding: 0;
    margin: 0;
}
header{
    height: 98px;
    display: flex;
    font-family: 'Inter', sans-serif;
    color: #493A31;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
.knopki-h-1{
    display: flex;
    gap: 40px;

}
.knopki-h-2{
    display: flex;
    gap: 40px;
}
span{
    color: #DD7453;
    font-weight: bold;
}
.knopki-h-1-b{
    cursor: pointer;
    text-decoration: none;
    font-family: "arty-1";
}
a{
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    cursor: text;
}
.slaider-h{
    height: 951px;
    background-image: url('../img/главный\ экран.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;

}
.name-block-s-1{
    color: #EEDABA;
    font-size: 120px;
    font-family: 'arty';
    margin-bottom: 50px;
}
.block-s-2:hover img{
    margin-bottom: 20px;
    transition: all .3s ease;
}
.name-block-s-2{
    color:#fff;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    width: 500px;
    overflow-wrap: break-word;
}
.boottom-1{
    height: 76px;
    width: 251px;
    background: #EEDABA;
    font-size: 22px;
    color: #493A31;
    font-family: "arty-1";
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.boottom-12{
    height: 76px;
    width: 251px;
    font-size: 22px;
    color: #ffffff;
    font-family: "arty-1";
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    cursor: pointer;
}
.block-s-1-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1619px;
    margin-top: 80px;
}
p{
    margin-bottom: 8px;
}
.bottom-block-s-1{
    display: flex;
    gap: 40px;
    margin-top: 50px;
}
.block-s-2{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.block-s-2 img{
    height: 104px;
    cursor: pointer;

}
.polosu-s1{
    height: 10px;
    width: 491px;
    background: #EEDABA;
}
.polosu-s2{
    background: #D9D9D926;
    height: 10px;
    width: 540px;
}
.polosu-s{
    display: flex;
    position: absolute;
    bottom: 60px;
    gap: 24px;
}
.sssss{
    width: 1619px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: space-between;
}
.kartinka-1{
    width: 491px;
    height: 1141px;
    overflow-wrap: break-word;
    margin-top: 150px;
    margin-left: 200px;
}
.text-prez{
    width: 491px;
    overflow-wrap: break-word;
    font-family: 'Inter', sans-serif;
    color: #493A31;
    font-size: 22px;
    margin-bottom: 25px;
    overflow-wrap: break-word;
    word-break: break-all;
    line-height: 45px;
}
.img-block-prez{
    font-size: 60px;
    font-family: "arty";
    margin-top: 70px;
    margin-bottom: 30px;
    color: #493A31;
}
.img-prod-b img{
    width: 550px;
}
.block-polnost{
    background: #F6F6F6;
    display: flex;
    width: 180px;
    height: 73px;
    font-size: 22px;
    color:#493A31;
    font-family: 'Inter', sans-serif;
    justify-content: space-evenly;
    align-items: center;
}
.bloki-img-svg{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.text-prez1{
    width: 748px;
    overflow-wrap: break-word;
    font-family: 'Inter', sans-serif;
    color: #493A31;
    font-size: 22px;
    margin-bottom: 50px;
    overflow-wrap: break-word;
    word-break: break-all;
    line-height: 40px;
}
.bloki-img-svg1{
    display: flex;
    height: 77px;
    justify-content: flex-start;
    gap: 70px;
}
.img-scvg-b1{
    font-family: "arty";
    color: #BB4D00;
    font-size: 80px;
}
.img-svg-b-t{
    font-family: 'Inter', sans-serif;
    color: #493A31;
    font-size: 22px;
   
}
.kartinki-prezent{
    display: flex;
}
.kartinka-2{
    margin-top: 300px;
    margin-left: 400px;
}
.text-prez1--{
    width: 748px;
    overflow-wrap: break-word;
    font-family: 'Inter', sans-serif;
    color: #493A31;
    font-size: 22px;
    margin-bottom: 30px;
    overflow-wrap: break-word;
    word-break: break-all;
    line-height: 45px;
}
.nasga-prod{
    display: flex;
    justify-content: center;
    margin-top: 240px;
}
.nasga-prod1{
    width: 1619px;
}
.prod-1-b{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 105px;
}
.img-block-prez119-mob{
    display: none;
}
.img-block-prez1{
    font-size: 60px;
    font-family: "arty";
    color: #493A31;
    width: 690px;
}
.text-prez1-sdsd{
    margin-bottom: 70px;
}
.p-1-head{
    margin-bottom: 10px;
    font-size: 22px;
}
.p-2-head{
    font-size: 22px;
    line-height: 35px
}
.img-block-prez119{
    font-size: 60px;
    font-family: "arty";
    color: #493A31;
    width: 690px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.text-prez1{
    width: 491px;
    overflow-wrap: break-word;
    font-family: 'Inter', sans-serif;
    color: #493A31;
    font-size: 22px;
    margin-bottom: 50px;
    overflow-wrap: break-word;
    word-break: break-all;
    line-height: 35px;
}
.name-b-prod{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: #493A31;
    margin-top: 20px;
    margin-bottom: 20px;
}
.opis-b-prod{
    width: 491px;
    overflow-wrap: break-word;
    font-family: 'Inter', sans-serif;
    color: #493A31;
    font-size: 22px;
    overflow-wrap: break-word;
    word-break: break-all;
    line-height: 35px;
}
.katalog-prod-b2{
    display: flex;
    flex-wrap: wrap;
    gap:55px;
}
.img-prod-b{

}
.kart-prod-1 img{
    width: 521px;
}
.kart-prod-1{
    margin-top: 50px;
    width: 491px;
}
.bottom-prod{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #C87E1E;
    width: 352px;
    height: 76px;
    background: #fffdfa;
    font-family: 'Inter', sans-serif;
    color: #493A31;
    font-size: 22px;
    cursor: pointer;
}
.bottom-prod:hover{
    background: #bfbdba;
    transition: all .2s ease;
}
.vce-prod-bot{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.video-block{
    display: flex;
}
.videob-b-2{
    width: 1514px;
    background-image: url('../img/Rectangle\ 11.png');
    height: 980px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 150px;
}
.img-block-prez11{
    font-size: 60px;
    font-family: "arty";
    color: #fafafa;
}
.text-prez11{
    width: 496px;
    overflow-wrap: break-word;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 50px;
    overflow-wrap: break-word;
    word-break: break-all;
    line-height: 35px;
}
.prod-1-b1{
    display: flex;
    height: 90px;
    justify-content: space-between;
    width: 1619px;
    margin-top: 90px;

}
.proigruvatel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 400px;
    cursor: pointer;
}
.text-video-proz-z{
    font-family: 'Inter', sans-serif;
    color: #EEDABA;
    font-size: 30px;
}
.text-video-proz-z2{
    font-family: 'Inter', sans-serif;
    color: #D9D9D9;
    font-size: 19px;
    margin-top: 15px;
}
.video-proz-z{
    text-align: center;
    position: absolute;
    top: 800px;

}
.block-polnost1{
    background: #F6F6F6;
    display: flex;
    width: 206px;
    height: 64px;
    font-size: 22px;
    color:#493A31;
    font-family: 'Inter', sans-serif;
    justify-content: space-evenly;
    align-items: center;
}
.block-5-s-1-11{
    width: 491px;
    margin-right: 154px;
}
.img-block-prez1{
    margin-bottom: 30px;
}
.block-5-s-1{
    display: flex;
    width: 1619px;
    justify-content: space-between;
}
.block-5-s{
    display: flex;
    justify-content: center;
    margin-top:150px;
}
.bloki-img-svg1{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 500px;

}
.bloki-img-svg1--{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 500px;
    justify-content: space-between;
}
.text-prez111{
    width: 649px;
    overflow-wrap: break-word;
    font-family: 'Inter', sans-serif;
    color: #493A31;
    font-size: 22px;
    margin-bottom: 30px;
    overflow-wrap: break-word;
    word-break: break-all;
    line-height: 45px;
}
.text-prez-sdsd{
    margin-bottom: 45px;
}
.input-text-2::placeholder {
  color: #896341; /* Замените red на нужный цвет (например, blue, green или HEX) */
}
.section-b6-2{
    display: flex;
    width: 1619px;
    align-items: center;
    position: relative;
}
.section-b6{
    background: #F4F5F5;
    display: flex;
    justify-content: center;
    height: 544px;
    position: relative;
    margin-top: 150px;
}
.block-polnost11{
    background: #F6F6F6;
    display: flex;
    padding: 15px;
    font-size: 22px;
    color:#493A31;
    font-family: 'Inter', sans-serif;
    justify-content: space-evenly;
    align-items: center;
    background: #fff;

}
.img-scvg-b{
    margin-right: 9px;
}
.imgsrc-section-b6-2{
    position: absolute;
    right: 0;
}
.bloki-img-svg11{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 800px;
}
.section-b6-21{
    width: 1619px;
}

.block-galeri{
    display: flex;
    justify-content: center;
}
.img-block-prez1{
    margin-top: 150px;
    margin-left: 200px;
}
.img-galeri{
    margin-top: 90px;
    margin-left: 260px;
}
.img-galeri-ffff img{
    width: 1619px;
}
.block-polnost12{

    display: flex;
    width: 137px;
    height: 77px;
    font-size: 22px;
    color:#493A31;
    font-family: 'Inter', sans-serif;
    justify-content: space-evenly;
    align-items: center;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.img-block-prez13{
    font-size: 60px;
    font-family: "arty";
    color: #493A31;
}
.konez-7-block-1{
    display: flex;
    width: 1619px;
    flex-wrap: wrap;

}
.img-konez-7-block-1-2 img{
    width: 808px;
}
.forma{
    width: 808px;
    height: 512px;
    background: #F7E3C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forma-2{
    display: flex;
    gap:20px;
    flex-direction: column;
    position: relative;
}

.input-s-ss-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#493A31;
    background: #FFFFFF;
    width: 282px;
    height: 76px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    cursor: pointer;
}
.input-text-21{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#493A31;
    background: #FFFFFF;
    width: 282px;
    height: 76px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    cursor: pointer;
    border: none;
    font-family: "arty-1";
    color: #896341;
}
.input-text-21:hover{
    background: #cecece;
}
.input-text-21:active{
    background: #a2a38e;
}
.input-s-ss-2{
    display: flex;
    width: 312px;
    height: 61px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 30px;
}
.checkbox{
    height: 17px;
    width: 17px;
    background: #896341;
}
input[type="checkbox"] {
    height: 17px;
    width: 17px;
    background: #896341;
}
.heckboxs::before{
    height: 17px;
    width: 17px;
    background: #896341;
    appearance: none
}
u{
    color: #896341;
}
.input-s-ss{
    display: flex;
    width: 648px;
    justify-content: space-between;
}
.konez-7-block-1-2{
    display: flex;
    width: 1619px;
    gap: 20px;
    margin-left: 200px;
}
.strelka-form{
    position: absolute;
    bottom: 80px;

    right:210px;
    cursor: pointer;
}
.img-logo-fot{
    display: flex;
    width: 238px;
    height: 85px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.text1-src-fot-logo{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: #493A31;
    margin-bottom: 10px;
    font-weight: bold;
}
.text-src-fot-logo{
    font-family: 'Inter', sans-serif;
}
.text2-fot-fot-1-block{
    width: 676px;
    height: 42px;
    font-size: 18px;
    font-family: "arty-1";
    color: #493A31;
    line-height: 25px;
    margin-bottom: 50px;
}
.text3-fot-fot-1-block{
    width: 742px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #848B98;
    margin-bottom: 50px;
    line-height: 30px;
}
.fot-text2-fot-fot-1-block{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #848B98;
    margin-bottom: 50px;
    text-decoration: underline;
}
.footer-h{
    width: 1470px;

}
.d1-footer-sai{ /*футер дескп*/
    background: #F7F8F9;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    position: relative;
}
.footer-2{
    display: flex;
    justify-content: center;
    height: 647px; 
    width: 1619px;
}
.dsdsfdsfsdfsd{
    width: 1619px;
    background: #F7F8F9;
    display: flex;
    justify-content: center;
    align-items: center;

}
.fot-1-block{
    margin-top: 91px
}
.knopki-foter{
    font-size: 18px;
    font-family: "arty-1";
    color: #493A31;
    margin-bottom: 30px;

}
.text22-src-fot-logo{
    display: flex;
    justify-content: space-between;
    width: 245px;
}
.footer-d{
    width: 245px;
    height: 283px;
    margin-top: 91px;
    margin-right: 130px;
}
.text11-src-fot-logo{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: #493A31;
    margin-bottom: 10px;
    font-weight: bold;
    margin-bottom: 70px;
}
.block-fot-b2{
    display: flex;

}
.img-fot-b2{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #493A31;
}
.block-fot-b2{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #493A31;
    align-items: center;
    margin-bottom: 20px;
}
.img-fot-b2{
    margin-right: 30px;
}
.footer-d-2{
    margin-top: 91px;
}
.footer-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid #848B9880;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #848B98;
    position: absolute;
    top:550px;
    background: #F7F8F9;
}
.footer-31{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1619px;
    height: 100px;
    margin-bottom: 50px;
    background: #F7F8F9;
    margin-top: 30px;
    border-top: 1px solid #848B9880 ;
}
.img-block-prez190{
    margin-top: 10px;
}
.img-block-prez190{
    margin-bottom: 30px;
}
.img-block-prez190{
    font-size: 60px;
    font-family: "arty";
    color: #493A31;
    width: 690px;
}
.knopki-h-1-b:hover{
    color:#be8a5d;
    transition: all .2s ease;
}
.boottom-1:hover{
    background: #a99b84;
    transition: all .2s ease;
}
.deck-mobel{
    display: none;
}
.boottom-12:hover{
    background: #736a5c48;
    transition: all .2s ease;
}
.img-block-prez13--{
   display: flex;
}
.text-prez1112{
    display: none;

}
.input-text-2{
    width: 648px;
    height: 76px;
    display: flex;
    align-items: center;
    background: #FFEFD7;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color:#493A31;
    padding: 0px 20px;
    font-style: italic;
    outline: none;
    border: none;
}

.input-s-ss-2 input[type="checkbox"] {
    width: 17px;
    height: 17px;
    accent-color: #C87E1E;
    cursor: pointer;
}
.input-s-ss-2 input[type="checkbox"] {
    width: 17px;
    height: 17px;
    appearance: none;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #C87E1E;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    
}
.input-text-21::placeholder{
    color: #896341;
    
}
.input-s-ss-2-ds{
    font-family: "arty-2";
    font-size: 18px;
    margin-left: 5px;
}
.input-s-ss-2 input[type="checkbox"]:checked {
    background: #C87E1E;
}
.input-s-ss-2 input[type="checkbox"]:checked::after {
    content: "✓";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 11px;
}
.knopki-foter{
    cursor: pointer;
}
.knopki-foter:hover{
    color: #be8a5d;
}
.galeri-mobel{
    display: none;
}
.strelka-form {
    position: fixed;
    
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 9999;
}
.strelka-form.show {
    opacity: 1;
    visibility: visible;
}

.strelka-form img {
    width: 142px;
    display: block;
}
.text-fot-b2{
    cursor: pointer;
    font-family: "arty-1";
}
.img-block-prez1-ff{
    font-size: 60px;
    font-family: "arty";
    color: #493A31;
    margin-top: 150px;
    margin-bottom: 80px;
}
.foooter-2-sd-model{
    display: none;
}
.text2-src-fot-logo{
    font-family: "arty-3";
    font-size: 18px;
}







@media (max-width: 1920px){
    .deck-mobel{
        display: none;
    }
}

@media(max-width: 480px){
    .sssss{
        display: none;
    }
    header{
        display: flex;
    }
    .deck-mobel{
        width: 420px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }
    .slaider-h{
        width: 100%;
        background-size: none;
        background-repeat: none;
    }
    .foooter-2-sd-model{
        display: contents;
        
    }
    .d1-footer-sai{
        display: none;

    }
}


@media (max-width: 480px) {
    .sssss {
        display: none;
    }
    .deck-mobel {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }
    header {
        height: 70px;
        justify-content: center;
    }
    .slaider-h {
        height: auto;
        height: 720px;
        background-size: cover;
        background-position: center top;
        padding: 30px 20px 60px;
    }
   
    .block-s-1-1 {
        width: 100%;
        margin-top: 300px;
    }
    .name-block-s-1 {
        font-size: 80px;
        margin-bottom: 15px ;
    }
    .img-block-prez119-mob{
        font-size: 38px;
        font-family: "arty";
        color: #493A31;
        width: 690px;
        margin-bottom: 10px;
        margin-top: 0px;
        display: flex;
    }
    .img-block-prez119{
        display: none;
    }
    .p-1-head{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .p-2-head{
        font-size: 16px;
        line-height: 25px;
    }
    .name-block-s-2 {
        width: 420px;
        font-size: 16px;
        line-height: 22px;
    }
    .text-prez1112{
        display: flex;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        color:#493A31;
        line-height: 30px;
        margin-top: 30px;
        overflow-wrap: break-word;
        word-break: break-all;
        margin-top: 20px;
    }
    .bottom-block-s-1 {
        flex-direction: column;
        gap: 12px;
        margin-top: 25px;
        width: 100%;
    }
    .boottom-1,
    .boottom-12 {
        width: 420px;
        height: 62px;
        font-size: 18px;
    }
    .img-block-prez13--{
        width: 420px;
        display: flex;
        font-size: 40px;
        font-family: "arty";
        color: #493A31;
        margin-top: 100px;
    }
    .footer-2-mob-2{
        background: #F7F8F9;
    }
    .block-s-2 {
        justify-content: center;
        gap: 15px;
        position: absolute;
        margin-left: 350px;
        top: 160px;
    }
    .block-s-2 img {
        height: 65px;
        width: auto;
    }
    .polosu-s {
        gap: 8px;
        justify-content: center;
        width: 420px;
        margin-right: 40px;
        top: 780px;
    }
    .polosu-s1,
    .polosu-s2 {
        width: 135px;
        height: 7px;
    }
    .bloki-img-svg1--{
        width: 420px;
    }
    .kartinki-prezent {
        flex-direction: column;
        padding: 0 20px;
    }
    .kartinka-1 {
        width: 100%;
        height: auto;
        margin: 40px 0 0 0;
    }
    .kartinka-2 {
        width: 100%;
        height: auto;
        margin: 40px 0 0 0;
    }
    .boottom-12 {
        width: 418px;
        height: 62px;
        font-size: 18px;
    }
    .text-prez{
        width: 420px;
    }
    .img-block-prez-ss img {
        width: 420px;
        height: auto;
        object-fit: cover;
        border-radius: 4px;
        height: 322px;

    }
    .img-block-prez {
        font-size: 38px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .text-prez1{
        display: none;
    }
    .text-prez1 {
        width: 100%;
        font-size: 15px;
        line-height: 26px;
        margin-bottom: 20px;
        word-break: normal;
    }
    .bloki-img-svg {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .block-polnost {
        width: 110px;
        height: 60px;
        font-size: 14px;
    }
    .block-polnost img {
        width: 22px;
    }
    .bloki-img-svg1 {
        display: flex;
        gap: 18px;
        flex-wrap: wrap;
        height: auto;
        margin-top: 20px;
        width: 100%;
        justify-content: flex-start;
    }
    .block-polnost12 {
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .img-scvg-b1 {
        font-size: 44px;
    }
    .img-svg-b-t {
        font-size: 15px;
        font-family: "arty-1";
    }
    .nasga-prod {
        margin-top: 100px;
        padding: 0 20px;
    }
    .nasga-prod1 {
        width: 100%;
    }
    .prod-1-b {
        flex-direction: column;
        height: auto;
        gap: 15px;
        margin-bottom: 20px;
    }
    .img-block-prez13 {
        font-size: 38px;
    }
    .text-prez1 {
        width: 100%;
        font-size: 15px;
        word-break: normal;
    }
    .katalog-prod-b2 {
        display: grid !important;         
        grid-template-columns: repeat(2, 1fr) !important;
        flex-direction: unset !important;  
        flex-wrap: unset !important;     
        gap: 15px;
    }
    .kart-prod-1 {
        width: 203px;
        margin-top: 20px;
    }
    .img-prod-b img {
        width: 100%;
        height: auto;
        border-radius: 4px;
    }
    .name-b-prod {
        font-size: 22px;
        margin-top: 12px;
        margin-bottom: 8px;
        font-family: "arty-1";
    }
    .opis-b-prod {
        width: 100%;
        font-size: 15px;
        line-height: 24px;
        word-break: normal;
    }
    .vce-prod-bot {
        margin-top: 30px;
    }
    .bottom-prod {
        width: 100%;
        height: 52px;
        font-size: 16px;
        font-family: "arty-1";
        background: #fff;
        border: 2px solid #C87E1E;
    }
    .videob-b-2 {
        height: 215px;
        margin-top: 15px;
        
    }
    .prod-1-b1 {
        display: none;
        
    }
    .img-block-prez11 {
        font-size: 38px;
       
    }
    .video-block{
        display: flex;
        flex-direction: column;
        width: 420px;
        margin-left: 20px;
        flex-direction: column;
    }
    .text-prez11 {
        width: 420px;
        font-size: 15px;
        line-height: 24px;
        word-break: normal;
        color:#493A31;
    }
    .text-prez{
        font-size: 16px;
        line-height: 25px;
        
    }
    .text-prez1--{
        width: 420px;
        font-size: 16px;
        line-height: 30px;
    }
    .img-scvg-b1{
        font-size: 60px;
    }
    .img-svg-b-t{
        font-size: 16px;
    }
    .bloki-img-svg1--{
        margin-top: 20px;
    }
    .input-text-2{
        width: 360px;
        height: 62px;
        display: flex;
        align-items: center;
        background: #FFEFD7;
        font-family: 'Inter', sans-serif;
        font-size: 22px;
        color:#493A31;
        padding: 0px 20px;
        font-style: italic;
        outline: none;
        border: none;
    }
    .proigruvatel {
        top: 50%;
        transform: translateY(-50%);
    }
    .proigruvatel img {
        width: 65px;
    }
    .video-proz-z {
        top: auto;
        bottom: 30px;
    }
    .text-video-proz-z {
        font-size: 16px;
        color:#fff;
    }
    .text-video-proz-z2 {
        font-size: 10px;
        margin-top: 1px;
    }
    .block-5-s {
        margin-top: 100px;
        padding: 0 20px;
    }
    .block-5-s-1 {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }
    .img-block-5 {
        width: 100%;
    }
    .img-block-5 img {
        width: 100%;
        height: auto;
        border-radius: 4px;
    }
    .block-5-s-1-11 {
        width: 100%;
    }
    .img-block-prez119 {
        font-size: 38px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .text-prez111 {
        width: 420px;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px;
        word-break: normal;
        overflow-wrap: break-word;
        word-break: break-all;
        font-family: "arty-1";
    }
    .block-polnost1 {
        width: auto;
        padding: 0 12px;
        height: 52px;
        font-size: 14px;
    }
    .section-b6 {
        height: auto;
        margin-top: 50px;
        
        flex-direction: column;
    }
    .section-b6-2 {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }
    .block-text-section-b6-2 {
        width: 100%;
        margin-left: 40px;
        margin-top: 30px;
    }
    .img-block-prez190 {
        font-size: 38px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .bloki-img-svg11 {
        width: 100%;
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: flex-start;
        margin-bottom: 50px;
    }
    
    .block-polnost{
        width: 132px;
    }
    .img-scvg-b img{
        height: 24px;
        width: 24px;
        
    }
    .block-polnost11 {
        padding: 10px 14px;
        font-size: 14px;
    }
    .imgsrc-section-b6-2 {
        position: relative;
        right: auto;
        width: 100%;
    }
    .imgsrc-section-b6-2 img {
        width: 100%;
        height: 325px;
        border-radius: 4px;

    }
    .text-block-5-s{
        margin-top: 20px;
    }
    .block-galeri {
        padding: 0 20px;
    }
    .section-b6-21 {
        width: 100%;
    }
    .img-block-prez1 {
        font-size: 38px;
        margin-top: 100px;
        margin-left: 0;
        width: 100%;
    }
    .img-galeri {
        margin-top: 25px;
        margin-left: 0;
    }
    .img-galeri img {
        width: 100%;
        height: auto;
        border-radius: 4px;
    }
    .img-block-prez1-ff{
        display: none;
    }
    .img-galeri-ffff{
        display: none;
    }
    .galeri-mobel{
        display: flex;
        margin-top: 100px;
    }
    .konez-7-block {
        padding: 0 20px;
    }
    .konez-7-block-1 {
        width: 100%;
    }
    .konez-7-block-1-2 {
        width: 100%;
        margin-left: 0;
        flex-direction: column;
        gap: 0;
    }
    .img-konez-7-block-1-2 {
        width: 100%;
    }
    .img-konez-7-block-1-2 img {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
    .forma {
        width: 100%;
        height: auto;
        padding: 25px 20px;
    }
    .forma-2 {
        width: 360px;
        gap: 14px;
    }
    .input-s {
        width: 100%;
        height: 52px;
        font-size: 15px;
        padding: 0 15px;
    }
    .input-s-ss {
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }
    .input-s-ss-1 {
        width: 100%;
        height: 52px;
        font-size: 16px;
    }
    .input-s-ss-2 {
        width: 100%;
        height: auto;
        font-size: 13px;
        line-height: 20px;
    }
    .strelka-form {
        position: static;
        margin-top: 15px;
        text-align: right;
    }

    /* ФУТЕР */
    footer {
        margin-top: 60px;
    }
    .footer-2 {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 0 20px 40px;
        background: #F7F8F9;
        margin-top: 80px;
    }
    .footer-h {
        width: 100%;
    }
    .fot-1-block {
        margin-top: 40px;
    }
    .img-logo-fot {
        width: 200px;
        justify-content: flex-start;
        gap: 12px;
        margin-bottom: 25px;
        margin-top: 50px;
    }
    .img-src-fot-logo img {
        height: 50px;
        width: auto;
    }
    .text1-src-fot-logo {
        font-size: 22px;
    }
    .text2-src-fot-logo {
        font-size: 13px;
    }
    .text2-fot-fot-1-block {
        width: 100%;
        height: auto;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .text3-fot-fot-1-block {
        width: 100%;
        font-size: 13px;
        margin-bottom: 20px;
        line-height: 24px;
    }
    .fot-text2-fot-fot-1-block {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .footer-d {
        width: 100%;
        height: auto;
        margin-top: 30px;
        margin-right: 0;
    }
    .text11-src-fot-logo {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .burger{
        cursor: pointer;
    }
    .text22-src-fot-logo {
        width: 100%;
        justify-content: flex-start;
        gap: 50px;
    }
    .knopki-foter {
        font-size: 16px;
        margin-bottom: 18px;
        
    }
    .footer-d-2 {
        width: 100%;
        margin-top: 30px;
    }
    .block-fot-b2 {
        margin-bottom: 14px;
        gap: 12px;
        align-items: center;
    }
    .img-fot-b2 {
        margin-right: 0;
        flex-shrink: 0;
    }
    .text-fot-b2 {
        font-size: 14px;
        line-height: 20px;
    }
    .footer-3 {
        width: 100%;
        position: relative;
        top: auto;
        margin-top: 30px;
        border-top: 1px solid #848B9880;
    }
    .footer-31 {
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 12px;
        padding: 20px 20px;
        text-align: center;
    }
    
    .foter-text31-mob{
        display: flex;
        font-size: 13px;
        line-height: 18px;
        text-align: left;
        margin-right: 50px;
    }
}






@media (max-width: 480px) {
    .konez-7-block {
        display: flex;
        justify-content: center;
        padding: 0 20px;
    }
    
    .konez-7-block-1 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .konez-7-block-1-2 {
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    
    .img-konez-7-block-1-2 {
        display: none;
    }
    
    .forma {
        width: 420px;
        height: 391px;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 auto;
        background: #F7E3C4;
    }
    
    .forma-2 {
        width: 360px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        
    }
    
    .input-s {
        width: 360px;
        height: 62px;
        background: transparent;
        display: flex;
        align-items: center;
        padding: 0;
    }
    
    .input-text-2 {
        width: 360px;
        height: 62px;
        background: #FFEFD7;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        color: #493A31;
        padding: 0 15px;
        font-style: italic;
        outline: none;
        border: none;
        box-sizing: border-box;
    }
    
    .input-text-2::placeholder {
        color: #493A31;
        opacity: 0.7;
    }
    
    .input-s-ss {
        width: 360px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 5px;
        align-items: center;
    }
    .text-prez-sdsd{
        margin-top: 30px;
    }
    .input-s-ss-1 {
        width: 360px;
        height: 62px;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
    }
    
    .input-text-21 {
        width: 360px;
        height: 62px;
        background: #FFFFFF;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        color: #493A31;
        cursor: pointer;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .input-text-21:hover {
        background: #cecece;
    }
    
    .input-text-21:active {
        background: #a2a38e;
    }
    
    .input-s-ss-2 {
        width: 360px;
        height: auto;
        display: flex;
        gap: 10px;
        align-items: flex-start;
        font-size: 12px;
        font-family: 'Inter', sans-serif;
        line-height: 16px;
        color: #493A31;
    }
    
    .input-s-ss-2-d {
        flex-shrink: 0;
        margin-top: 2px;
    }
    
    .checkboxs {
        width: 17px;
        height: 17px;
        cursor: pointer;
    }
    
    .input-s-ss-2-ds {
        font-size: 12px;
        line-height: 16px;
        color: #493A31;
    }
    
    .input-s-ss-2-ds u {
        color: #896341;
        cursor: pointer;
    }
    
    .strelka-form {
        display: none;
    }
}

@media (max-width: 480px) {
     
    .sssss {
        display: none;
    }
    .deck-mobel {
        display: flex !important;
    }
    footer {
        margin-top: 60px;
        background: #F7F8F9;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    .footer-2 {
        width: 100%;
        max-width: 420px;
        height: auto;
        flex-direction: column;
        padding: 0 0 20px 0;
        margin: 0 auto;
        display: flex;
        margin-top: 100px;
    }
    .footer-h {
        width: 100%;
        max-width: 420px;
    }
    .fot-1-block {
        margin-top: 40px;
        width: 100%;
    }
    .img-logo-fot {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        margin-bottom: 30px;
    }
    .img-src-fot-logo img {
        height: 50px;
        width: auto;
    }
    .text1-src-fot-logo {
        font-size: 22px;
        font-family: 'Inter', sans-serif;
        color: #493A31;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .text2-src-fot-logo {
        font-size: 13px;
        font-family: 'Inter', sans-serif;
        color: #493A31;
    }
    .footer-d {
        width: 100%;
        max-width: 420px;
        height: auto;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 30px;
        text-align: left;
    }
    .text11-src-fot-logo {
        font-size: 22px;
        font-family: 'Inter', sans-serif;
        color: #493A31;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: left;
    }
    .text22-src-fot-logo {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 50px;
    }
    .knopki-foter {
        font-size: 15px;
        font-family: "arty-1";
        color: #493A31;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .knopki-foter:hover {
        color: #be8a5d;
    }
    .text223-src-fot-logo a {
        text-decoration: none;
    }
    .footer-d-2 {
        width: 100%;
        max-width: 420px;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .block-fot-b2 {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 14px;
        justify-content: flex-start;
    }
    .img-fot-b2 {
        flex-shrink: 0;
    }
    .text-fot-b2 {
        font-size: 16px;
        font-family: "arty-1";
        color: #493A31;
        line-height: 20px;
        text-decoration: none;
    }
    a .text-fot-b2 {
        text-decoration: none;
        color: #493A31;
    }
    a:hover .text-fot-b2 {
        color: #be8a5d;
    }
    .text2-fot-fot-1-block {
        width: 100%;
        max-width: 420px;
        height: auto;
        font-size: 16px;
        font-family: "arty-1";
        color: #493A31;
        line-height: 30px;
        margin-bottom: 25px;
        text-align: left;
    }
    .text3-fot-fot-1-block {
        width: 100%;
        max-width: 420px;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        color: #848B98;
        margin-bottom: 20px;
        line-height: 24px;
        text-align: left;
    }
    .fot-text2-fot-fot-1-block {
        width: 100%;
        max-width: 420px;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        color: #848B98;
        margin-bottom: 40px;
        text-decoration: underline;
        text-align: left;
        cursor: pointer;
    }
    .footer-3 {
        width: 100%;
        
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        border-top: 1px solid #848B9880;
    }
    .footer-31 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    .footer-3-mob{
        background: #F7F8F9;
        

    }
    .footer-3{
        margin-top: 0px;
    }
    .foter-text31 {
        font-size: 12px;
        font-family: 'Inter', sans-serif;
        color: #848B98;
        line-height: 18px;
        text-align: left;
        flex: 1;
        display: none;
    }
    .foter-text31-log {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        margin-left: 260px;
    }
    .foter-text31-log img {
        height: 40px;
        width: auto;
    }
}
@media (min-width: 481px) {
    .deck-mobel {
        display: none !important;
    }   
    .call-icon-mobile {
        display: none !important;
    }
    .burger {
        display: none !important;
    }
    .burger-logo {
        display: none !important;
    }
    .img-block-prez13-- {
        display: none !important;
    }
    .text-prez1112 {
        display: none !important;
    }
    .galeri-mobel {
        display: none !important;
    }
    .video-block {
        display: block !important;
    }
    .prod-1-b1 {
        display: flex !important;
    }
    .name-kartochka{
        font-weight: none;
    }
    .footer-3{
        border: 0px solid #000;
    }
    .foter-text31{
        display: flex;
    }
}